@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p class="display-4" style="font-weight: 700;">Hi, I'm currently migrating this site to ASP.NET, please try again at a later time.</p>
    <p style="font-weight: 700;">Migrating...</p>
</div>
