/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
/*Resets*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif; }

ul {
  list-style-position: inside; }

/*Core sections specific styles*/
.footer {
  border-top: 1px solid #4B5375; }

/*Gridding*/
body {
  display: grid;
  grid-template-columns: 15% 85%; }

.navbar {
  grid-column: 1 / 3;
  grid-row: 1 / 2; }
  @media (min-width: 1320px) {
    .navbar {
      grid-column: 1 / 2;
      grid-row: 1 / 3; } }

.main {
  grid-column: 1 / 3;
  grid-row: 2 / 3; }
  @media (min-width: 1320px) {
    .main {
      grid-column: 2 / 3;
      grid-row: 1 / 2; } }

.footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4; }
  @media (min-width: 1320px) {
    .footer {
      grid-column: 2 / 3;
      grid-row: 2 / auto; } }

/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
.container--p-1 {
  padding: 8px; }

.container--p-2 {
  padding: 16px; }

.container--p-3 {
  padding: 32px; }

.container--p-4 {
  padding: 64px; }

.container--p-v-1 {
  padding-top: 8px;
  padding-bottom: 8px; }

.container--p-v-2 {
  padding-top: 16px;
  padding-bottom: 16px; }

.container--p-v-3 {
  padding-top: 32px;
  padding-bottom: 32px; }

.container--p-v-4 {
  padding-top: 64px;
  padding-bottom: 64px; }

.container--p-t-1 {
  padding-top: 8px; }

.container--p-t-2 {
  padding-top: 16px; }

.container--p-t-3 {
  padding-top: 32px; }

.container--p-t-4 {
  padding-top: 64px; }

.container--bg-primary {
  background-color: #4B5375; }
  .container--bg-primary-dark {
    background-color: #383E57; }
  .container--bg-primary-light {
    background-color: #5F657C; }

.container--bg-secondary {
  background-color: #595959; }

.container--bg-tertiary {
  background-color: #FFFFFF; }

.container--bg-grey {
  background-color: #595959; }

.container--bg-muted {
  background-color: #595959; }
  .container--bg-muted-light {
    background-color: #EEEEEE; }

.container--primary {
  color: #4B5375; }
  .container--primary-dark {
    color: #383E57; }
  .container--primary-light {
    color: #5F657C; }

.container--secondary {
  color: #595959; }

.container--tertiary {
  color: #FFFFFF; }

.container--grey {
  color: #595959; }

.container--muted {
  color: #595959; }
  .container--muted-light {
    color: #EEEEEE; }

.container__header {
  color: #4B5375;
  padding-bottom: 16px;
  font-weight: bold; }

.container__heading {
  font-size: 48px; }

.container__subheading {
  font-size: 24px; }

.container__content {
  color: #4B5375;
  font-size: 20px; }

/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
.flex {
  display: flex;
  flex-wrap: wrap; }
  .flex--m-1 > *:not(:last-child) {
    margin-right: 8px !important; }
  .flex--m-2 > *:not(:last-child) {
    margin-right: 12px !important; }
  .flex--m-3 > *:not(:last-child) {
    margin-right: 16px !important; }
  .flex > * {
    margin-bottom: 16px; }
  .flex > *:not(:last-child) {
    margin-right: 32px; }
    @media (max-width: 992px) {
      .flex > *:not(:last-child) {
        margin-right: 16px; } }
  .flex--equal > * {
    flex-grow: 1;
    flex-basis: 0; }
  .flex--justify-center {
    justify-content: center; }
  .flex--align-center {
    align-content: center; }
  @media (max-width: 992px) {
    .flex--responsive > * {
      display: block;
      min-width: 100%; } }

/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
.button {
  transition-duration: 0.2s;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 2px 3px 13px -4px rgba(0, 0, 0, 0.35); }
  .button--1 {
    font-size: 16px;
    padding: 8px 16px; }
  .button--2 {
    font-size: 16px;
    padding: 12px 32px; }
  .button--3 {
    font-size: 16px;
    padding: 16px 40px; }
  .button--primary {
    background-color: #4B5375;
    color: #FFFFFF; }
    .button--primary:hover {
      background-color: #373d56; }
  .button--primary-dark {
    background-color: #383E57;
    color: #FFFFFF; }
    .button--primary-dark:hover {
      background-color: #242838; }
  .button--secondary {
    background-color: #595959;
    color: #FFFFFF; }
    .button--secondary:hover {
      background-color: #404040; }
  .button__icon {
    padding-right: 4px; }

/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
.alert {
  font-size: 28px;
  margin-bottom: 16px; }
  .alert-1 {
    padding-left: 16px; }
    .alert-1--primary {
      color: #4B5375;
      border-left: 8px solid #4B5375; }
    .alert-1--secondary {
      color: #595959;
      border-left: 8px solid #595959; }

/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
.card {
  padding-top: 16px; }
  .card--primary {
    color: #4B5375; }
    .card--primary-dark {
      color: #383E57; }
    .card--primary-light {
      color: #5F657C; }
  .card--secondary {
    color: #595959; }
  .card--tertiary {
    color: #FFFFFF; }
  .card--grey {
    color: #595959; }
  .card--muted {
    color: #595959; }
    .card--muted-light {
      color: #EEEEEE; }
  @media (max-width: 992px) {
    .card {
      background-color: #EEEEEE;
      box-sizing: border-box;
      padding: 16px;
      margin: 16px 0; } }
  .card__images {
    display: flex;
    flex-wrap: wrap; }
  .card__header {
    padding-bottom: 16px; }
  .card__heading {
    font-weight: 700;
    font-size: 20px; }
  .card__subheading {
    font-weight: 500; }
  .card__content {
    font-size: 16px;
    padding-bottom: 16px; }

/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
.list {
  list-style-type: none; }
  .list__heading {
    color: #4B5375;
    cursor: default;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 16px; }
  .list__link {
    color: #595959;
    cursor: pointer;
    padding: 4px 0; }
    .list__link--disabled {
      color: #cccccc; }
      .list__link--disabled:hover {
        text-decoration: none !important; }
    .list__link:hover {
      text-decoration: underline; }
    .list__link > a {
      text-decoration: inherit;
      color: inherit; }

/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
.navbar {
  color: #FFFFFF;
  padding: 16px;
  text-align: center; }
  .navbar--primary {
    background-color: #4B5375; }
  .navbar__header {
    line-height: 150%; }
    @media (min-width: 1320px) {
      .navbar__header {
        border-bottom: 4px solid #373d56; } }
  .navbar__heading {
    font-size: 24px;
    font-weight: bold; }

/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
.avatar {
  width: 160px;
  height: 160px;
  background-color: white;
  margin: 16px auto;
  border-radius: 100px;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 3px 13px -4px rgba(0, 0, 0, 0.35);
  border: 2px solid #FFFFFF; }
  .avatar > img {
    display: none; }

/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
.icon {
  color: white;
  font-size: 32px; }
  .icon--disabled {
    color: gray;
    cursor: default; }
  .icon--inline {
    display: inline;
    padding-right: 4px; }

/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
.timeline {
  border-left: 3px dotted #595959;
  padding-left: 16px; }
  .timeline__item {
    margin-bottom: 32px; }
  .timeline__timestamp {
    text-transform: uppercase;
    color: #595959;
    font-size: 16px; }
  .timeline__title {
    font-weight: 300; }
    .timeline__title--bold {
      font-weight: 500; }
  .timeline__content {
    padding-top: 4px; }
