<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - PersonalWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<div class="container container--p-3">
    <div class="flex flex--responsive">
        <div class="card">
            <div class="card__header">
                <h1 class="card__heading">Account</h1>
            </div>
            <div class="card__content">
                <ul>
                    <li><a href="#">CMS Login</a></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card__header">
                <h1 class="card__heading">Data</h1>
            </div>
            <div class="card__content">
                <ul>
                    <li><a href="#">CMS Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <h1>Account</h1>
    <ul>
    </ul>
</div>