<div class="footer">
    <div class="container container--p-3">
        <div class="flex flex--responsive">
            <ul class="list">
                <li class="list__heading">Account</li>
                <li class="list__link"><a href="#">CMS Login</a></li>
                <li class="list__link"><a href="#">Subscribe</a></li>
            </ul>

            <ul class="list">
                <li class="list__heading">Data</li>
                <li class="list__link"><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</div>