@model IList<PersonalWebsite.Models.ButtonViewModel>

<div class="container container--bg-muted-light container--p-3">
    <div class="container__header">
        <h1 class="container__heading">Johnny Le</h1>
        <h2 class="container__subheading">4th Year Computer Science Student at Aston University</h2>
    </div>

    <div class="container__content">
        <p>I'm a final year undergraduate with industrial experience in web development (full-stack), now looking for a graduate opportunity in software/web development!</p>
        <br />
        <p>Interests: UX design, databases, microservices and DevOps</p>

        @if (Model != null && Model.Count > 0)
        {
            <div class="flex container container--p-v-2">
                @foreach (var button in Model)
                {
                    <a class="@button.Class" href="@button.URL">
                        @if (!string.IsNullOrWhiteSpace(button.IconClass))
                        {
                            <i class="@button.IconClass"></i>
                        }
                        <span>@button.Name</span>
                    </a>
                }
            </div>
        }

    </div>
</div>