<nav class="navbar navbar--primary">
    <div class="navbar__header">
        <h1 class="navbar__heading">Johnny Le</h1>
        <div class="avatar">
            <img src="~/resource/media/images/photos/young_buffalo.jpg" />
        </div>
        <p>Hi, welcome to my personal website!</p>
        <p>Final Year Project: TBD</p>

        <div class="container container--p-t-2">
            <div class="flex flex--m-3 flex--justify-center">
                <a href="https://www.linkedin.com/in/johnnyle-lej1/" target="_blank">
                    <i class="fab fa-linkedin icon"></i>
                </a>
                <a href="https://github.com/Johnny0121" target="_blank">
                    <i class="fab fa-github-square icon"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter-square icon icon--disabled"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="navbar__content">
        <div class="container container--p-2">
            <a class="button button--2 button--primary-dark">
                <i class="fas fa-paper-plane button__icon"></i>
                Email Me
            </a>
        </div>
    </div>
</nav>