/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
.alert {
  font-size: 28px;
  margin-bottom: 16px; }
  .alert-1 {
    padding-left: 16px; }
    .alert-1--primary {
      color: #4B5375;
      border-left: 8px solid #4B5375; }
    .alert-1--secondary {
      color: #595959;
      border-left: 8px solid #595959; }
