<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Johnny Le</title>
    <partial name="Imports/_Internal" />
    <partial name="Imports/_ThirdParty" />
</head>
<body>
    <partial name="Sections/_Navigation" />

    <main role="main">
        @RenderBody()
    </main>

    <partial name="Sections/_Footer" />

    <partial name="Imports/_InternalScripts" />
    <partial name="Imports/_ThirdPartyScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
