/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
/*Colours*/
/*Fonts*/
/*Spacing*/
/*Borders and shadows*/
/*Animations*/
.button {
  transition-duration: 0.2s;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 2px 3px 13px -4px rgba(0, 0, 0, 0.35); }
  .button--1 {
    font-size: 16px;
    padding: 8px 16px; }
  .button--2 {
    font-size: 16px;
    padding: 12px 32px; }
  .button--3 {
    font-size: 16px;
    padding: 16px 40px; }
  .button--disabled {
    cursor: not-allowed;
    color: #cccccc !important; }
  .button--primary {
    background-color: #4B5375;
    color: #FFFFFF; }
    .button--primary:hover {
      background-color: #373d56; }
  .button--primary-dark {
    background-color: #383E57;
    color: #FFFFFF; }
    .button--primary-dark:hover {
      background-color: #242838; }
  .button--secondary {
    background-color: #595959;
    color: #FFFFFF; }
    .button--secondary:hover {
      background-color: #404040; }
  .button__icon {
    padding-right: 4px; }
