// Colours
$primary-colour: #4B5375;
$primary-colour--light: #5F657C;
$primary-colour--dark: #383E57;
$secondary-colour: #595959;
$bg-colour: #FFFFFF;
$tertiary-colour: #FFFFFF;
$muted-colour: #595959;
$muted-colour--light: #EEEEEE;
$grey-colour: #595959;

// Fonts
$font-size: 16px;
$font-size--base: $font-size * 1.25;
$font-size--double: $font-size * 2;

// Spacing
$spacing: 16px;
$spacing--base: $spacing * 3;

// Borders
$border-radius: 4px;

// Animations
$transition-duration: 0.2s;
