@import '../../Variables.scss';

.avatar {
    width: 160px;
    height: 160px;
    background-color: white;
    margin: $spacing auto;
    border-radius: 100px;
    background-position: center;
    background-size: cover;
    box-shadow: $box-shadow;
    border: 2px solid $tertiary-colour;

    > img {
        display: none;
    }
}
